In [2]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [3]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [4]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [5]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [6]:
'Moon' in 'This text will describe facts about the Moon'

True

In [7]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [8]:
temperatures.find('Moon')

-1

In [9]:
temperatures.find('Mars')

64

In [10]:
temperatures.count('Moon')

0

In [11]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [12]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

In [13]:
temperatures = 'Mars Average Temperature: -60 C'

In [14]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [15]:
parts[-1]

' -60 C'

In [17]:
mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [18]:
'-60'.startswith('-')

True

In [19]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [20]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

In [21]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [29]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average , the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylig distance"""

In [30]:
#Primero, divide el texto en cada oración para trabajar con su contenido:
test2 = text.split()
test2
## Define las palabras pista: average, temperature y distance suenan bien
'average' in text
'temperature' in text
'distance' in text

True

In [34]:
# Divide el texto
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average , the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylig distance"""
text_parts = text.split('. ')
text_parts
# Palabras clave
key_words = ["average", "temperature", "distance"]
# Ciclo for para recorrer la cadena
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break
# Ciclo para cambiar C a Celsius
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average , the Moon moves 4cm away from the Earth every year
The highest daylig distance

On average , the Moon moves 4cm away from the Earth every year
The highest daylig distance

In [45]:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
title = f'datos de gravedad sobre {nombre}'
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

# Nuevos datos muestra
planeta = 'Venus '
gravedad  = 0.00143
nombre = 'Aurora'
# Comprobamos la plantilla

print(hechos)

new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2


Datos de Gravedad sobre: Aurora
-------------------------------------------------------------------------------
Nombre del planeta: Venus
Gravedad en Aurora: 0.00143 m/s2

In [46]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Aurora
-------------------------------------------------------------------------------
Nombre del planeta: Venus
Gravedad en Aurora: 1.4300000000000002 m/s2